<%- include('./partials/header'); -%>

<div class="row">
    <div class="col s12 m6">
      <div class="card red darken-1">
        <div class="card-content white-text">
          <span class="card-title">Oops! <span>😕</span>
            </span>
          <p>There seems to be some kind of problem. Please check your network connection or contact the developer of this application.</p>
        </div>
      </div>
    </div>
  </div>
            
<%- include('./partials/footer'); -%>
