<%- include('./partials/header'); -%>
<main>
  <form action="/" method="post">
    <div class="searchbar center-align">
      <input
        class="browser-default"
        type="text"
        name="query"
        id="query"
        placeholder="Search here"
      />
      <button class="btn waves-effect amber accent-4" type="" name="action">
        Go
        <i class="material-icons right">search</i>
      </button>
    </div>
  </form>
</main>
<%- include('./partials/footer'); -%>
